<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表格</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <style>
        input,
        textarea {
            /* 去掉表单的轮廓线，例如input时的表单轮廓：*/
            outline: none;
        }
        
        div,
        button {
            margin: 10px;
        }
    </style>
</head>

<body>
    <!-- 收集表单数据：
        1、若收集input的text、number等类型，则v-model收集的是value值，用户输入的是value值
        2、若收集input的radio，单选框类型，则v-model收集的是value值，需要给标签内手动配置value值
        3、若收集input的CheckBox，复选框类型，
            ()没有配置input的value属性，那么收集checked的布尔值（true、false）
            ()配置了value属性：
                ()v-model的初始值是非数组形式，那么收集的是checked的布尔值
                ()v-model的初始值是数组形式，那么收集的就是value组成的数组
        4、注意：v-model的三个修饰符
            ()像是年龄，如果不想数据保存为字符串形式，一般都这样写：v-model.number="age"
            ()像是其他信息，输入文本时，不想Vue那么敏感地收集信息，当失去焦点的时候在收集，可以这样写：v-model.lazy=""
            ()想去掉空格，使用：v-model.trim=""
     -->
    <form action="" id="root">
        <div class="user">
            账号：<input type="text" v-model="account"><br/>
        </div>
        <div class="password">
            密码：<input type="password" v-model="password"><br/>
        </div>
        <div class="sex">
            性别：
            <input type="radio" name="sex" checked="checked" id="boy" value="male" v-model="sex"><label for="boy">男</label>
            <input type="radio" name="sex" id="girl" v-model="sex" value="female"><label for="girl">女</label><br/>
        </div>
        <div class="hobby">
            爱好：
            <input type="checkbox" name="hobby" id="smok" v-model="hobby" value="抽烟"><label for="smok">抽烟</label>
            <input type="checkbox" name="hobby" id="drink" v-model="hobby" value="喝酒"><label for="drink">喝酒</label>
            <input type="checkbox" name="hobby" id="fashion" v-model="hobby" value="烫头"><label for="fashion">烫头</label>
        </div>
        <div id="address">
            所属校区：<select name="add" id="add" v-model="city">
                <option value="" selected="selected">请选择校区</option>
                <option value="花江" >花江</option>
                <option value="金鸡岭" >金鸡岭</option>
            </select>
        </div>
        <div id="anotherInfo">
            其他信息：<textarea name="" id="" cols="30" rows="10" v-model="otherInfo"></textarea>
        </div>
        <input type="checkbox" v-model="agree">阅读并接受<a href="javascript:;">《用户协议》</a>
        <button id="commit" @click="commit">提交</button>
    </form>

    <script>
        Vue.config, productionTip = false

        const vm = new Vue({
            el: '#root',
            data() {
                return {
                    account: '',
                    password: '',
                    sex: 'female',
                    hobby: [],
                    city: '花江',
                    otherInfo: '',
                    agree: ''
                }
            },
            methods: {
                commit() {
                    console.log(JSON.stringify(this._data));
                }
            },
        })
    </script>
</body>

</html>